/* Some of the styles have been moved to global */

.post--content {
	margin: 32px 0;
}

.post--bottom-bar a,
.post--content a {
	--color: #60a5fa;
	--hover-color: #2563eb;
	
	color: var(--color);
	transition: color .1s;
}

.post--bottom-bar a:hover,
.post--content a:hover {
	color: var(--hover-color);
}

.post--content strong {
	font-weight: 600;
	text-decoration: underline solid white 2px;
}

.post--content figure {
	margin-left: 0;
	margin-right: 6vw;
	position: relative;
}

.post--content figure blockquote {
	margin-right: 2vw;
	margin-left: 20px;
}

.post--content figure figcaption::before {
	content: "— ";
}

.post--content figure figcaption {
	margin-left: auto;
	text-align: right;
}

.post--content table {
	margin: 20px auto;
	text-align: center;
	border-spacing: 40px 4px;
	font-size: 1.1em;
}

.post--bottom-bar {
	display: flex;
	justify-content: space-between;
	font-size: .88em;
}

@media (max-width: 600px) {
	.post--bottom-bar {
		flex-direction: column;
		gap: 8px;
		/* background: red; */
	}
	.post--share-section {
		justify-content: space-between;
	}
}