/* For links */

.external {
  --color: var(--main);
  
  cursor: pointer;
  color: var(--color) !important;
  text-decoration: none;
  border-bottom: dashed var(--color) 2px;
  transition: color .1s;
}

.external:hover, .external:focus {
  --color: rgb(122, 94, 247);
}