footer {
	font-size: .72rem;
	opacity: .4;
	
	margin: 40px 0 30px;
	
	/* position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: fit-content; */
	/* margin-top: 20px; */
	
}