:root {
  font-size: 18px;
  color-scheme: dark;
  
  --dark: #131315;
  --light: #FFFBFE;
  --main: #FAF33E;
  --main-half-opacity: #faf33e70;
  --secondary: #087F8C;
  --post-card-bg: hsl(236, 10%, 25%);
  --post-card-bg-hover: hsl(220, 12%, 35%);
  
  --social-twitter: hsl(203, 89%, 42%);
}

@media (max-width: 600px) {
  html, body {
    max-width: 90vw;
    width: auto; 
  }
}

.name {  
  width: fit-content;
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 0.1px;;
}

.tags-container {
  display: flex;
  gap: 6px;
  /* margin-top: 4px; */
  /* background: red; */
}

.tag::before {
  content: "#";
  opacity: .54;
  margin-right: 1px;
}

.heading-link {
	opacity: .6;
  margin-right: 10px;
  font-family: monospace;
  font-size: 1.1em;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
