
.name {  
  width: fit-content;
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 0.1px;;
}

.tags-container {
  display: flex;
  gap: 6px;
  /* margin-top: 4px; */
  /* background: red; */
}

.tag::before {
  content: "#";
  opacity: .54;
  margin-right: 1px;
}

.heading-link {
	opacity: .6;
  margin-right: 10px;
  font-family: monospace;
  font-size: 1.1em;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
