.me-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  font-size: 1.1em;
}

.banner--name {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 8px;
}

.small-intro {
  opacity: .8;
  font-weight: normal;
  max-width: 480px;
  text-align: center;
}

.latest-posts-heading {
  font-size: 1.34em;
}

.social-media-icons-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  
}

.social-media-icons-container a {
  opacity: .8;
  transition: opacity .2s;
}

.social-media-icons-container a:hover {
  opacity: 1;
  
}

.social-media-icons-container i {
  font-size: 24px;
}