.page {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-container {
	text-align: center;
	height:fit-content;
	position: fixed;
	padding: 10px;
	color: var(--main-half-opacity);
}

.error-404 {
	width: 100%;
	font-size: 6rem;
	font-weight: bold;
}

.error-404-special, .not-found-message {
	color: var(--light);
}

.not-found-message {
	margin-top: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	margin: 0;
}