.post--title {
	font-size: 1.6em;
	margin-bottom: 5px;
	margin-top: 40px;
}

.post--time {
	font-size: .88em;
	opacity: .9;
}

/* Some of the styles have been moved to global */

.post--content {
	margin-top: 32px;
	line-height: 25px;
}

.post--content h2 {
	/* margin-top: 50px; */
	margin-bottom: 32px;
}

.post--content a {
  font-weight: 500 !important;
}

.post--content strong {
	font-weight: 600;
	text-decoration: underline solid white 2px;
}