.post--title {
	font-size: 1.7em;
	margin-bottom: 5px;
	margin-top: 40px;
}

.post--head {
	display: flex;
	justify-content: space-between;
	opacity: .9;
	font-size: .8em;
}

.post--time {
	/* opacity: .9; */
}

/* Some of the styles have been moved to global */

.post--content {
	margin-top: 32px;
	line-height: 25px;
}

.post--content h2 {
	margin-bottom: 32px;
}

/* only on desktop */
@media (min-width: 600px) {
.post--content h1,
.post--content h2,
.post--content h3,
.post--content h4,
.post--content h5,
.post--content h6 {
	position: relative;
	left: -24px;
	scroll-margin-top: 28px;

}
}

.post--content a {
  font-weight: 500 !important;
	/* color: rgba(0, 0, 255, 0.658); */
}

.post--content strong {
	font-weight: 600;
	text-decoration: underline solid white 2px;
}

.post--content img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	width: auto;
	max-height: 600px;
}

.post--content pre {
	border-radius: 6px;
	padding: 5px 10px;
	font-family: Menlo, Monaco, "Courier New", Courier, monospace;
	background: var(--post-card-bg);
	font-size: .9em;
	
	/* width: 90%; */
	/* word-wrap: break-word;
	margin: 0 auto; */
}

.post--content pre code {
	word-break: break-word;
}

.post--content table {
	margin: 20px auto;
	text-align: center;
	border-spacing: 40px 4px;
	font-size: 1.1em;
}


.post--share-section {
	justify-content: flex-end;
	display: flex;
}

.post--share-section span {
	font-size: .8em;
	opacity: .7;
	margin-right: 8px;
}

.post--share-section div {
	display: flex;
	gap: 8px;
}

.post--share-section a i {
	opacity: .7;
	transition: all .26s;
}

.post--share-section a:hover i {
	opacitY: 1;
}
