.search-container {
	/* background-color: red; */
	margin: 14px 0 40px;
	width: 100%;
}

.search-input {
	width: 100%;
	background-color: hsla(180, 2%, 18%, 0.953);
	border: none;
	border-radius: 6px;
	padding: 10px 16px;
	color: var(--light);
	font-size: .9em;
}

.search-input::placeholder {
	font-family: Inter, ui-sans-serif, sans-serif !important;
	color: var(--light);
	opacity: .8;
}